$body-bg: #F1F2F4;
$body-color: #484848;
$font-family-sans-serif: RobotoLight, sans-serif;
$headings-margin-bottom: 0.7rem;


// my variables 

// fonts
$RobotoRegular: RobotoRegular, sans-serif;
$RobotoMedium: RobotoMedium, sans-serif;
$RobotoBold: RobotoBold, sans-serif;
$small-size: .9rem;
$font-size-h4: 1.3rem;

// colors
$link-color: #3bafda;
$title-color: #292929;
$menu-color: #A1A1A1;
$tooltip-color: #484848;
$tooltip-bg: #FFFFFF;
$tooltip-disabled: #A8A8A8;
$line-color: #E0E1E3;
$orange-color: #FF8B2A;
$blue-color: #3AABD0;
$brand-primary: #3BAEDA;
$input-bg: #F1F1F3;

// tooltip dimensions
$tooltip-max-width: 240px;
$tooltip-arrow-width: 0; 
$tooltip-padding-y: 7px;
$tooltip-padding-x: 10px;
$tooltip-opacity: 1;




// other
$path-sprite: '../img/sprite.png';

$border-radius: 6px;
//$form-group-margin-bottom: 0.5rem;
$btn-padding-y: .75rem;
$input-padding-y: .75rem;

